.footer-legacy{
    padding: 1rem 0;
    border-top: 1px solid #e5e5e5;
    @media (min-width: 1024px){
     padding: 2rem 0;
    }
}
.footer-legacy__text{
  text-align: center;
  font-family: $primary-font-family;
  font-size: px-to-rem(14px);
  font-weight: 400;
}
.author-link{
    color:$third-text-color;
}