.wrapper{
    display: flex;
    justify-content: center;
    &--img{
        background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url('../img/slider.jpg') no-repeat;
        background-position: center center;
    }
    &--bgc{
        background-color: $selection-color;
    }
    &--bgi{
        position: relative;
        background-image:  url('../img/Layer_45.png');
        opacity: 0.85;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        &::before{
            content: '';
            position: absolute;
            background-color: rgba(255, 255, 255, 0.85);
            width: 100%;
            height: 100%;
        }
    }
    &--secondary-bgi{
        position: relative;
        background-image: url('../img/blog/secondary-bgi.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        &::before{
            content: '';
            position: absolute;
            background-color: rgba(255, 255, 255, 0.85);
            width: 100%;
            height: 100%;
        }
    }
    &--secondary-bgc{
        background-color: #f8f8f8;
    }
}